.intro-header {
    text-align: center;
    margin-top: .75rem;
}

.intro-paragraph {
    font-size: 1.35rem;
}

/*
.header, .body {
    background-color: #dee2e6 
} */

.header {
    margin-bottom: 5rem;
}

.body {
    margin-top: 7rem;
    text-align: center;
}

.btn {
    margin-top: 2.5rem;
}

.form-select {
    width: 20rem;
    margin: 1.3rem auto;
}

.list-group {
    width: 20rem;
    margin: 2rem auto;
}

.form-check {
    padding: .7rem;
}

.recipe-list-header {
    font-size: 1.35rem;
}

.recipe-image {
    margin: 1.8rem auto;
    display: block;
}

.list-group-item {
    border: none;
}

.list-group.list-group-numbered {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.direction-header {
    margin-top: 1.1rem;
}