{% extends 'base.html' %}
{% block content %}
<h3 class="recipe-list-header">List of random recipes for {{country}}.</h3>
<form action="/get_recipe" method="POST" class="recipe-list-form">
    {% for recipe in recipes %}
    <div class="form-check">
        <input class="radio-input" type="radio" name="recipeRadios" id={{recipe['id']}} value={{recipe['id']}}>
        <label class="form-check-label" for={{recipe['id']}}>
            {{recipe['title']}}
          </label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-secondary submit">Continue</button>
</form>

<a href="./country_list" class="btn btn-secondary">Back</a> 

{% endblock %}