{% extends 'base.html' %}
{% block content %}
<h3 class="intro-paragraph">List of randomly generated countries</h3>
<form action="/recipes_for_country" method="POST">
    {% for country in countries %}
    <div class="form-check">
      <input class="radio-input" type="radio" name="countryRadios" id={{country['id']}} value={{country['name']}}>
      <label class="form-check-label" for={{country['id']}}>
        {{country['name']}}
      </label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-secondary">Continue</button>
</form>
<!--  <a href="./selection" class="btn btn-secondary">Back</a>  -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Back
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="staticBackdropLabel">Leave this page?</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to leave? You are about to go back and lose the current selection of these random countries.</p>
        </div>
        <div class="modal-footer">
          <!-- Back to selection page -->
          <a href="./selection" class="btn btn-primary">Yes, Go Back</a> 
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Stay Here</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}